<html>
    <h1>Formulário de Cadastro</h1>

        @ViewBag.Mensagem


    <form  action="/Usuario/Cadastro" method="POST">
    
        <label>
            nome
            <input type="text" name="nome">
        </label>
        <label>
            Email
            <input type="email" name="email">
        </label>
        
        <label>
            Senha
            <input type="password" name="senha">
        </label>
        <label>
            Data de Nascimento
            <input type="text" name="dataNascimento">
        </label>
    <button type="submit">SALVAR</button>
    </form>
</html>