div{
    height: 100px;
    width: 100px;
    background-color: yellow;
}
.red{ 
    transform: scale3d(2 , 1.5 ,3)  perspective(500px) translateZ(100px);
    background-color: red;
    transform: matrix(21,1,1,1,1,1);
}