<!DOCTYPE html>
<html>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="Css/main.css" rel="stylesheet" type="text/css">
    <script src="JS/js.js"></script>
    
    <body>
    <a href="/Usuario/Cadastrar">Cadastro</a>
    <a href="/Usuario/Logar">Login</a>
    <section id="teto" class="hidden">
        
            <ul>

                <li>
                    <a href="#">HOME</a>
                </li>
                <li>
                    <a href="#">LOJA</a>
                </li>
                <li>
                    <a href="#">CONTATO</a>
                </li>
                <li>
                    <a href="#">SOBRE NÓS</a>
                </li>
                <li>
                    <a href="#">FACEBOOK</a>
                </li>
                <li>
                    <a href="#">RECLAME AQUI</a>
                </li>

            </ul>
    <label>
        <button onclick="mostra(teto)">AA</button>
    </label>
    @RenderBody()
    </body>
    
</html>