*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin:0;
    outline:none;
    

}
body{
    
}
.btn{
    padding: 10px 14px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 1px 1px #ccc;
    transition: box-shadow 0.1s;
}
.btn:hover{
    box-shadow:0px 2px 2px #333;
}
.btn:active{
    box-shadow: 0px 4px 4px #ccc;
}
.bg-purple{
     background-color: purple;
     color: white;                   
}
.bg-green{
     background-color: rgb(101, 224, 255);
     color:white;                     
 }

.input-text{
    border: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
    transition: width .1s;
    width: 160px;
    height: 16px;
    

}
.input-text:focus{
    width: 300px;
    border-bottom-color: purple;
    
}